* {
  margin: 0;
}

body {
  background-color: rgb(23, 22, 38);
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(23, 22, 38);
  padding: 20px;
}

.dropdown {
  background-color: rgb(31, 30, 48);
  border: 0px;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: rgb(148, 148, 148);
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.content__left {
  flex: 0.9;
}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

.content__right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: rgb(148, 148, 148) !important;
  background-color: rgb(23, 22, 38) !important;
  padding-top: 0px;
}
.line__graph {
  flex: 1;
  padding: 15px;
  background-color: rgb(31, 30, 48);
}
.worldwide__text {
  padding-top: 0px;
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 25px;
}
.MuiSelect-select {
  color: rgb(148, 148, 148) !important;
  font-weight: bold !important;
}
